.daily-quest-container {
    display: flex;
    flex-direction: column;
}

.daily-quest-section-title {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: monospace;
    background-color: #b69eec;
    padding: 0.4rem;
    border-radius: 0.6rem 0.6rem 0rem 0rem;
    color: #4e2f8d;
    flex-grow: 0;

}

.lesson-container {
    width: 40vw;
    flex-grow: 1;
    /*border: 2px solid #ffdf7e;*/
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: monospace;
    padding: 1rem;
    justify-content: space-between;
}

.lesson-text-section {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.lesson-title {
    text-align: left;
    font-size: 1.4rem;
    color: #8c6dcd;
    font-weight: bold;
}

.lesson-description {
    text-align: left;
    font-size: 1.2rem;
    height: 50px;
    border-radius: 0.2rem;
    color: #ae87f1;
}

.lesson-button-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

.lesson-button {
    font-family: monospace;
    font-size: 1rem;
    padding: 0.4rem;
    background-color: #c0a9e5;
    color: white;
    border-radius: 0.2rem;
    border-color: #9564e7;
}

.quiz-button {
    font-family: monospace;
    font-size: 1rem;
    padding: 0.4rem;
    background-color: transparent;
    color: #8c6dcd;
    border-color: #8c6dcd;
    border-radius: 0.2rem;
}

.generate-suggestion-button {
    font-size: 1rem;
    color: white;
    width: 100%;
    background-color: black;
    border-radius: 0rem 0rem 0.6rem 0.6rem;
    padding: 0.4rem;
    flex-grow: 0;
}